.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--color-header);
  color: var(--color-whiteSmoke);
}

.header a {
  text-decoration: none;
  color: var(--color-whiteSmoke);
  font-size: 1.5rem;
  font-weight: bold;
}

.header a:hover {
  color: var(--color-clear-hover);
}

.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
}

.navigation li a {
  text-decoration: none;
  color: var(--color-whiteSmoke);
  font-size: 1rem;
}

.navigation li a:hover {
  color: var(--color-clear-hover);
}
